<!DOCTYPE html>
<html>
<head>

    <title>{{title}}</title>
    <meta charset="utf-8" />
	 <link rel="stylesheet" type="text/css"  href="/css/index.css">
    <link rel="stylesheet" type="text/css"  href="/css/home.css"> 
    <link rel="stylesheet" type="text/css"  href="/css/menu.css">
	<link rel="stylesheet" type="text/css"  href="/css/layout.css">
	<link rel="stylesheet" type="text/css"  href="/css/register.css">
    <link rel="stylesheet" type="text/css"  href="/css/footer.css">
</head>

<body>
    <header>
    <h2>CSS3 Lava Lamp меню</h2>
    </header>
       <div class="container">
	
    {{> menu}}
      !! {{error}}
	 {{getTime}}
	  
   <div> {{{body}}}</div>
   
   
    {{> footer}}
	
	
	</div>
</body>
<html>


 