

<!DOCTYPE html>
<html>
<head>
    <title>admin_page</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>{{getTime}}admin_page</h1>
	<img src="/images/1.jpg" alt="">
    <div>{{getTime}}</div>
</body>
<html>