


	<div>		  
        <H2>SEND to EMAIL for RECOVERY PASSWORD</H2>
		
		<form  name="log" action="/forgot" method="post" >
		
		 <label for="inputEmail" class="sr-only">Email address</label></br>
         <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus></br></br>
 
		<button data-page ="admin" class ="btn btn-info btn-lg">SEND</button>
		</form>
		
		

		<form  name="log" action="/login" method="get" >
		<button data-page ="admin" class ="btn btn-info btn-lg">back</button>
		</form>
	
 </div>
