


	<div>		  
        <H2>SEND to EMAIL for RECOVERY PASSWORD</H2>
		
		 <form  name="log" action="/newPass" method="post" >
		
		 <label for="inputEmail" class="sr-only">Email address</label></br>
         <input type="password" id="inputRecPass" name="inputRecPass" class="form-control" placeholder="Pass" required autofocus></br></br>
 
				
		 <label for="inputEmail" class="sr-only">Email address</label></br>
         <input type="password" id="inputRecPass1" name="conInputRecPass" class="form-control" placeholder="Confirm pass" required autofocus></br></br>
 
		<button data-page ="admin" class ="btn btn-info btn-lg">SAVE</button>
		</form>
		
		 <form  name="log" action="/validateForgot" method="get" >
		<button data-page ="admin" class ="btn btn-info btn-lg">back</button>
		
		</form>
	
 </div>
