<div>		  
        <H2>INPUT CODE FROM EMAIL</H2>
		
		
		
		 <form  name="log" action="/validateForgot" method="post" >
		 
		 <label for="inputEmail" class="sr-only">Code</label></br>
         <input type="TEXT" id="inputEmail" name="codeFrom" class="form-control" placeholder="Code" required autofocus></br></br>
 
		 <button data-page ="admin" class ="btn btn-info btn-lg">OK</button>
		 </form></br></br>	
		
		
		<form  name="log" action="/forgot" method="get" >
		<button data-page ="admin" class ="btn btn-info btn-lg">back</button>
		</form>
	
 </div>
